<h1>Register</h1>

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<form action="/auth/register" method="post">
    <p>
        <p><label for="">First name</label></p>
        <input type="first_name" name="first_name" value="{{ first_name }}" required>
    </p>
    <p>
        <p><label for="">Last name</label></p>
        <input type="second_name" name="second_name" value="{{ second_name }}" required>
    </p>
    <p>
        <p><label for="">Email</label></p>
        <input type="email" name="email" value="{{ email }}" required>
    </p>
    <p>
        <p><label for="">Password</label></p>
        <input type="password" name="password" value="{{ password }}" required>
    </p>
    <p>
        <p><label for="">Role</label></p>
        <select id="role" name="role" required>
            <option value="cardiosurgeon">Cardiosurgeon</option>
            <option value="CT_specialist">CT Specialist</option>
        </select>
    </p>
    <input type="submit" value="Submit">
</form>

<hr>

{% include '_site_map.html' %}

